* {
    background-color: black;
}

div {
    margin-top: 5%;
    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-top: 5%;
}

h1 {
    font-family: 'Caveat', cursive;
    font-size: 2rem;
    color: white;
    text-transform: uppercase;
    margin-top: 0.75%;
    margin-bottom: 0.75%;;
}
p {
    color: white;
    font-size: 1rem;
    margin-top: 1%;
}
img {
    border: 5px solid white;
    width: 100%;
    height: auto;
}
